<html>
    body {
        background-color: rebeccapurple;
        display: flex;
        height: 100vh;
        width: 98%;
        align-items: center;
        justify-content: center;
        font-family: sans-serif;
      }
      
      #changeColors {
        width: 350px;
        height: 100px;
        color: white;
        font-size: 2rem;
        background-color: orangered;
        border-radius: 8px;
        border: 0;
        outline: 0;
      }
</html>

<script>
    
function changeColor ( bodyTargetColor, buttonTargetColor ) {
    var firstClick = document.getElementsByTagName('BODY')[0].style.backgroundColor != bodyTargetColor ? true : false;
    if (firstClick) { 
       document.getElementsByTagName('BODY')[0].style.backgroundColor = bodyTargetColor;
       return false;
   } 
   document.getElementById('changeColors').style.backgroundColor = buttonTargetColor;
}
</script>
