<h1>Trimester 1</h1>
<h2>Unit 4: Warm-up Data Analysis and Sort Project</h2>
<table>
    <tr>
        <th>Week</th>
        <th>Sprint</th>
        <th>Review Tickets</th>
        <th>Summary</th>
    </tr>

    {% assign week_number = 3 %}

    {% for i in (0..week_number) %}
    <tr>
        <td>{{ i }}</td>
        <td>{{ site.weekly_sprints[i] }}</td>
        <td><a href="{{ site.review_ticket_links[i] }}">Review Ticket Week {{ i }}</a></td>
        <td>{{ site.weekly_summaries[i] }}</td>
    </tr>
    {% endfor %}
</table>


<h2>Unit 5: Creative Development Ideas and Concepts</h2>
<table>
    <tr>
        <th>Week</th>
        <th>Sprint</th>
        <th>Review Tickets</th>
        <th>Summary</th>
    </tr>

    {% assign week_number = 7 %}

    {% for i in (4..week_number) %}
    <tr>
        <td>{{ i }}</td>
        <td>{{ site.weekly_sprints[i] }}</td>
        <td><a href="{{ site.review_ticket_links[i] }}">Review Ticket Week {{ i }}</a></td>
        <td>{{ site.weekly_summaries1[i-4] }}</td>
    </tr>
    {% endfor %}
    
</table>

<h2>Unit 6: Passion Project v1.0 and N@tM Demo</h2>
<table>
    <tr>
        <th>Week</th>
        <th>Sprint</th>
        <th>Review Tickets</th>
        <th>Summary</th>
    </tr>

    {% assign week_number = 12 %}

    {% for i in (8..week_number) %}
    <tr>
        <td>{{ i }}</td>
        <td>{{ site.weekly_sprints[i] }}</td>
        <td><a href="{{ site.review_ticket_links[i] }}">Review Ticket Week {{ i }}</a></td>
        <td>{{ site.weekly_summaries2[i-8] }}</td>
    </tr>
    {% endfor %}
</table>